# API wrappers
praw
tweepy

# Plotting and visualization
matplotlib

# NLP and Sentiment Analysis
nltk
pyspellchecker
langdetect

# Database
psycopg2-binary

# Encryption
cryptography
bcrypt

# Environment variable loader
python-dotenv

# Testing
pytest