[Desktop Entry]
Version=1.0
Type=Application
Name=LibraTech Sentiment Analysis
Comment=Sentiment Analysis on X (Twitter)
Exec=C:\Users\bjher\Libra-Tech/launcher.sh
Icon=C:\Users\bjher\Libra-Tech/assets/icons/icon.png
Terminal=true
Categories=Application;
